@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("fonts/Poppins-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/roboto-400.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("fonts/roboto-500.woff2") format("woff2");
}

:root {
  /* Fonts */
  --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  --poppins: "Poppins", "Roboto", Helvetica, Arial, sans-serif;
  --roboto: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-base: .9rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;

  /* Colors — base */
  --clr-text: hsl(0 0 20);
  --clr-text-secondary: hsl(0 0 40);
  --clr-text-muted: hsl(0 0 53);
  --clr-text-faint: hsl(0 0 67);
  --clr-white: hsl(0 0 100);
  --clr-bg-100: hsl(0 0 98);
  --clr-bg-200: hsl(0 0 100);
  --clr-bg-300: hsl(0 0 94);
  --clr-bg-hover: hsl(0 0 90);

  /* Colors — border */
  --clr-border-100: hsl(0 0 80);
  --clr-border-200: hsl(0 0 94);

  /* Colors — semantic */
  --clr-success: hsl(159 90 40);
  --clr-success-light: hsl(145 89 60);
  --clr-success-dark: hsl(168 75 46);
  --clr-danger: hsl(1 77 55);
  --clr-danger-dark: hsl(0 73 41);
  --clr-warning: hsl(33 100 49);
  --clr-free-time: hsl(262 52 55);

  /* Spacing */
  --spacing-50: .25rem;
  --spacing-100: .5rem;
  --spacing-200: 1rem;

  /* Timing */
  --time-100: .2s;
  --time-200: .5s;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  --clr-text: hsl(220 15 85);
  --clr-text-secondary: hsl(220 10 65);
  --clr-text-muted: hsl(220 10 55);
  --clr-text-faint: hsl(220 8 45);
  --clr-white: hsl(230 25 12);

  --clr-bg-100: hsl(216 13 15);
  --clr-bg-200: hsl(217 12 21);
  --clr-bg-300: hsl(217 12 28);
  --clr-bg-hover: var(--clr-bg-100);

  --clr-border-100: hsl(230 15 28);
  --clr-border-200: hsl(230 15 18);

  --clr-success: hsl(145 89 60);
  --clr-danger-dark: hsl(0 73 50);
  --clr-free-time: hsl(275 70 65);

  --accent-gradient-start: var(--clr-success-light);
  --accent-gradient-end: var(--clr-success-dark);

  &:has(.badge.blocked) {
    --accent-gradient-start: var(--clr-warning);
    --accent-gradient-end: var(--clr-danger);
  }

  &:has(.badge.free-time) {
    --accent-gradient-start: hsl(290 90 65);
    --accent-gradient-end: hsl(275 100 65);
  }

  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
